name: "Apply Cloudformation template"

on:
    workflow_dispatch:
        inputs:
          stack-name:
            description: 'CloudFormation Stack Name'
            required: true
            default: 'basic-s3-stack'
          template-file:
            description: 'Path to CloudFormation template file'
            required: true
            default: 'cloudformation-templates/s3/cf-basic-s3.yml'
          bucket-name:
            description: 'Name of the S3 bucket to create'
            required: false
            default: 'my-unique-bucket-name-12345'
    pull_request:
        branches:
            - main

permissions:
  id-token: write
  contents: read

jobs:
    apply-cloudformation:
      runs-on: ubuntu-latest
      env:
        STACK_NAME: ${{ vars.S3_STACK_NAME }}
        TEMPLATE_FILE: ${{ vars.S3_STACK_TEMPLATE_FILE_PATH }}
        BUCKET_NAME: ${{ vars.S3_STACK_BUCKET_NAME }}
      steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Configure AWS credentials from IAM Role
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::532907084571:role/gh-actions-user-role
          aws-region: us-east-1
      - name: Deploy CF Stack
        run: |
          # Use workflow inputs if available, otherwise fall back to env vars
          # When running via CI, event.inputs are empty valued
          STACK_NAME="${{ github.event.inputs.stack-name || env.STACK_NAME }}"
          TEMPLATE_FILE="${{ github.event.inputs.template-file || env.TEMPLATE_FILE }}"
          BUCKET_NAME="${{ github.event.inputs.bucket-name || env.BUCKET_NAME }}"
          
          aws cloudformation deploy \
            --stack-name "$STACK_NAME" \
            --template-file "$TEMPLATE_FILE" \
            --parameter-overrides BucketName="$BUCKET_NAME" \
            --capabilities CAPABILITY_NAMED_IAM
    